# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Base de datos (recomendado NO subirla)
cnc.sqlite3
*.sqlite3
*.db

# Exportaciones
*.csv
exports/

# Deploy
# Fly / Docker local
fly.toml
Dockerfile
.dockerignore
.fly/
