# fly.toml app configuration file generated for kpinfo-cnc-v2 on 2026-01-11T15:23:05-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kpinfo-cnc-v2'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  APP_HOST = '0.0.0.0'
  APP_PORT = '8080'
  DB_PATH = '/data/cnc.sqlite3'
  
[[mounts]]
  source = 'kpinfo_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
